version: '3.8'
services:
  web:
    build:
      context: ./
      target: production
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start
    ports:
      - "8000:8000"
    environment:
      NODE_ENV: production
    
      